<div id="root">
  {% liquid
    # Relative to entrypointsDir
    render 'vite-tag' with 'theme.css'
    render 'vite-tag' with 'theme.jsx'
  %}
</div>

<script>
  const home = {{ request.path | json }}
</script>

{% schema %}
{
  "name": "Dimensions",
  "templates": ["page", "product"],
  "target": "section",
  "javascript": "theme-c0af7859.js",
  "stylesheet": "theme-91c1d262.css",
  "settings": []
}
{% endschema %}
